.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-aligned {
  display: flex;
  align-items: center;
}

#logo img {
  margin-right: 10px; /* Adjust as needed */
}