.form-container {
  display: flex;
  margin-left: 300px; /* equal to the width of the sidenav to avoid overlap */
}


.form-sub-container {
  width: 50%;
}

.button-ribbon {
  background-color: gainsboro;
  margin-left: 300px;
  margin-right: 20px; 
}