.sidenav {
  height: 100vh;
  width: 25%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ada9a8;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
